/**
 * SDS Overloads
 */

.story-body > * {
  margin: 10px auto 10px 0px;
}

.story-body > h1 {
  --ht: none;
  --hw: normal;
  --hf: var(--serif);
}

.story-body > h4 {
  --ht: none;
  margin: 30px 0 5px;
}

.story-body > .small {
  margin: 5px 0px;
  line-height: 1.2em;
  font-family: var(--sans);
  color: #707070;
}

/**
 * Ad code
 */

.ad-wrapper {
  border: 1px solid #979797;
  margin: 0 15px;
  padding: 0;
}
.ad-wrapper.ad300x600 {
  max-width: 300px;
}
.ad-wrapper.ad300x250 {
  max-width: 300px;
}
.ad-wrapper.ad320x50 {
  max-width: 320px;
}
.ad-wrapper.ad300x100 {
  max-width: 300px;
}
.ad-wrapper.ad728x90 {
  max-width: 728px;
}
.ad-wrapper.ad960x30 {
  max-width: 960px;
}
.ad-wrapper.ad960x110 {
  max-width: 960px;
}
.ad-wrapper.ad970x250 {
  max-width: 970px;
}
.ad-wrapper.adfacebook {
  max-width: 1200px;
}
.ad-wrapper.adtwitter,
.ad-wrapper.adtwitteranimated,
.ad-wrapper.email-background-image,
.ad-wrapper.other-email-images {
  max-width: 1200px;
}
.ad-wrapper.ad-eighth-page,
.ad-wrapper.ad-fourth-page {
  max-width: 360px;
}
.ad-wrapper.ad-half-page,
.ad-wrapper.ad-full-page {
  max-width: 720px;
}
.ad-wrapper.ad-bill {
  max-width: 252px;
}
.ad-wrapper.ad-bundle-hanger {
  max-width: 612px;
}
.ad-wrapper.ad-rack-card {
  max-width: 1224px;
}
.ad-wrapper.ad-post-it {
  max-width: 216px;
}
.ad-wrapper.ad-direct-mailer-return-form {
  max-width: 612px;
}
.ad-wrapper.ad-direct-mailer {
  max-width: 630px;
}

.ad {
  background-color: #D8D8D8;
}
.ad.ad300x600 {
  padding-bottom: 200%;
}
.ad.ad300x250 {
  padding-bottom: 83.33333333%;
}
.ad.ad320x50 {
  padding-bottom: 15.625%;
}
.ad.ad300x100 {
  padding-bottom: 33.33333333%;
}
.ad.ad728x90 {
  padding-bottom: 12.36263736%;
}
.ad.ad960x30 {
  padding-bottom: 3.125%;
}
.ad.ad960x110 {
  padding-bottom: 11.45833333%;
}
.ad.ad970x250 {
  padding-bottom: 25.77319588%;
}
.ad.adfacebook {
  padding-bottom: 52.33333333%;
}
.ad.adtwitter,
.ad.adtwitteranimated-1,
.ad.email-background-image,
.ad.other-email-images-1 {
  padding-bottom: 56.25%;
}
.ad.adtwitteranimated-2,
.ad.other-email-images-2 {
  padding-bottom: 100%;
}
.ad.ad-eighth-page {
  padding-bottom: 100%;
}
.ad.ad-fourth-page {
  padding-bottom: 200%;
}
.ad.ad-half-page {
  padding-bottom: 100%;
}
.ad.ad-full-page {
  padding-bottom: 200%;
}
.ad.ad-bill {
  padding-bottom: 176.98412698%;
}
.ad.ad-bundle-hanger {
  padding-bottom: 129.41176471%;
}
.ad.ad-rack-card {
  padding-bottom: 64.70588235%;
}
.ad.ad-post-it {
  padding-bottom: 100%;
}
.ad.ad-direct-mailer-return-form {
  padding-bottom: 152.94117647%;
}
.ad.ad-direct-mailer {
  padding-bottom: 128.57142857%;
}
.ad-wrapper.ad-spadea {
  border: none;
}
.ad-wrapper.ad-spadea img {
  display: block;
  width: 100%;
}
