/**
 * Hero
 */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background-image: url("../img/team-process.jpg");
  background-position: cover;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.hero svg {
  height: 360px;
  overflow: visible;
}

/**
 * Medium art
 */

.medium-art {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: #fafafa;
}

.medium-art img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * Animations
 */

@keyframes saratoga {
  from { transform: translate(200px, -200vh) }
  to { transform: translate(0, 0) }
}

@keyframes engage {
  from { transform: translate(500px, -200vh) }
  to { transform: translate(0, 0) }
}

@keyframes apps {
  from { transform: translate(200vw, 300px) }
  to { transform: translate(0, 0) }
}

@keyframes editorial {
  from { transform: translate(-200vw, -600px) }
  to { transform: translate(0, 0) }
}

@keyframes ux {
  from { transform: translate(-200vw, 10vw) }
  to { transform: translate(0, 0) }
}

@keyframes next {
  from { transform: translate(-10vw, 200vh) }
  to { transform: translate(0, 0) }
}

@keyframes design {
  from { transform: translate(30vw, 200vh) }
  to { transform: translate(0, 0) }
}

.hero #saratoga {
  animation: saratoga 2.6s;
}

.hero #engage {
  animation: engage 1.8s;
}

.hero #apps {
  animation: apps 2.2s;
}

.hero #editorial {
  animation: editorial 1.6s;
}

.hero #ux {
  animation: ux 2.4s;
}

.hero #next {
  animation: next 2.5s;
}

.hero #design {
  animation: design 1.2s;
}
