/** 
 * Author Bio 
 * Note: requires the author-card class as well to reuse
 * some of those styles.
 */

.author-bio {
  padding: 0 15px;
}

@media (min-width: 600px) {
  .author-bio {
    padding: 0;
  }
}

.author-bio .thumb {
  max-width: 160px;
}

@supports(display: grid) {
  .author-bio .a-social {
    grid-column: span 2;
  }

  .author-bio .package {
    margin-top: 0;
  }

  .author-bio .thumb {
    grid-row: 1;
  }

  @media (min-width: 769px) {
    .author-bio {
      grid-template-columns: 160px 3fr 2fr;
    }

    .author-bio .thumb {
      grid-row: span 2;
    }

    .author-bio .a-details {
      align-self: flex-end;
    }

    .author-bio .a-social {
      grid-column: 3;
      grid-row: 2;
      align-self: flex-start;
      justify-self: flex-end;
    }

    .author-bio .summary {
      grid-column: 2;
      align-self: flex-start;
    }
  }
}

/**
 * Subscription callout 
 */

.author-sub {
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #707070;
}

.author-sub .callout {
  color: #31409F;
}

.author-sub .more-link {
  padding: 0;
}
