/**
 * Author card
 */

.author-card,
.author-card .package {
  padding: 0;
}

.author-card .thumb {
  max-width: 80px;
  box-sizing: border-box;
}

.author-card .thumb img {
  width: 100%;
}

@supports(object-fit: cover) {
  .author-card .thumb {
    position: relative;
    padding-top: 100%;
  }

  .author-card .thumb img {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.author-card .social-media a {
  padding: 10px 10px 10px 0;
  box-sizing: content-box;
}

.author-card .flex {
  width: auto;
}

/** 
 * Grid takeover
 */

@supports(display: grid) {
  .author-card {
    display: grid;
    align-items: center;
    grid-gap: 10px 15px;
    grid-template-columns: 80px 1fr;
  }

  .author-card > * {
    margin-top: 0;
  }

  .author-card .flex {
    flex-wrap: wrap;
  }

  .author-card .flex:first-child {
    grid-column: span 2;
  }

  .author-card .byline {
    flex: 1 1 300px;
    margin: 0 30px 0 0;
  }

  .author-card .summary {
    grid-column: span 2;
  }
}
