/** 
DSP Overrides
**/

.dsp {
    padding: 15px 0;
}

.dsp .review-order {
    display: flex;
    justify-content: center;
}

.dsp .review-order > * {
    width: 100%;
}

.dsp .review-order .package {
   align-items: center;
}

.dsp h1,
.dsp h2,
.dsp h3 {
    margin: 0;
}

.dsp button {
    width: 100%;
}

.dsp .more-link {
    padding: 0;
}

.dsp.example {
    padding: 15px 0;
} 

.dsp .package {   
    padding: 30px 15px;
}

.dsp .package.small {
    padding: 15px;
    align-items: center;
}

.dsp .paper,
.dsp .card {
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .13)
}

.dsp .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px 30px;
}

.dsp form .grid {
    grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
    grid-gap: 15px;
}

.dsp small { 
    font: 400 small var(--sans);
    color: #707070;
    margin: 0 0 0 0;  
    display: block;
}

.dsp form small {
   font: 400 11px var(--sans); 
   margin: 2px 0 0 0;  
}

.dsp .expander:after {
  width: 10px;
  filter: opacity(56%);
}

.dsp small.expander {
    justify-content: flex-end;
    display: flex;
}

.dsp small.stretch {
  grid-column: span 2;
  padding-top: 15px;
}

.dsp section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.dsp .horizontal.package.small {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 95px;
    grid-gap: 0px;
    order: 1;
    align-items: flex-start;
}


.dsp small.secure {
    text-transform: uppercase;
    margin-top: 15px;
}

.dsp i {
    margin-left: 5px;
    font-size: 12px;
}

.dsp .flex {
    justify-content: space-between;
    padding: 0 0 10px;
    margin: 0 15px;
    border-bottom: 1px solid #989898;
}

.dsp .flex-columns > * {
    margin: 15px 0;
}

/***** Media queries ****/

@media (min-width: 640px) {

.dsp section {
    max-width: 800px;
}
    

.dsp .review-order > * {
    max-width: 400px;
}
    
    
.dsp .grid {
   grid-template-columns: 1fr 1fr;     
}
    

.dsp .horizontal.package.small  {
    align-self: flex-start;
    grid-template-columns: 1fr;
    order: 2;
}
    
.dsp .horizontal small.expander {
    display: none;
}
    
.dsp .stretch {
     display: block;
}

 .dsp .flex-columns {
     display: flex;
     flex-wrap: wrap;
     margin: 0;
}
    
.dsp .flex-columns > * {
    margin: 7.5px 0;
}

}    