/**
 * Simple Flexbox row
 *
 * We are using this combo more and it makes sense to 
 * pull them out into their own reusables. I will 
 * incorporate into the rest of the elements as we
 * re-work them.
 */

.flex {
  display: flex;
  align-items: center;
}

.icons > * {
  padding: 15px;
}

/* To fix our strange line heights */
.icon-label {
  position: relative;
  top: .15em;
  margin-left: 10px;
}

