/**
 * Generic CSS grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.grid > .package:not(.paper),
.zone-el > .package:not(.paper) {
  padding: 0;
}

.grid .ad-widget {
  margin: 0 auto;
  align-self: center;
}

.grid > .rail {
  grid-row-end: span var(--rows, 3);
}

.grid > .zone-el {
  display: flex;
}

@media(min-width: 990px) {
  .col-span-2 {
    grid-column: span 2;
  }
}

/**
 * Static Zone option (with utilities)
 */

.grid.static-zones,
.grid.dense {
  grid-auto-flow: dense;
}

.grid.static-zones .zone-el
.grid .full-row {
  grid-column: 1/-1;
}
