/**
 * Modals
 */

.s-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 100px 15px 0;
	max-width: unset;
	overflow: auto;
	z-index: 9999;
	transform: translateZ(0);
	pointer-events: none;
}

.s-modal > * {
	position: relative;
	width: 100%;
	max-width: 710px;
	margin: 15px auto;
	pointer-events: auto;
}

.s-modal .package {
	padding: 30px 50px 30px 15px;
}

.s-modal .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	cursor: pointer;
}

.s-modal.screen {
	background-color: rgba(255,255,255,0.8);
	pointer-events: auto;
}

/** Bottom version */

.s-modal.bottom:not([hidden]) {
	display: flex;
	align-items: flex-end;
}

.s-modal.bottom > * {
	max-width: 1110px;
	position: relative;
}

.s-modal.bottom .package {
	max-width: 710px;
	margin: 0 auto;
}

/** Local news subscription (modal version) */

.modal-subscription {
	flex-wrap: wrap;
}

/** Newsletter signup (modal version) */

.modal-newsletter .grid {
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
  align-self: stretch;
}

.modal-newsletter input, .modal-newsletter .button {
	padding: 1em 1em .7em;
	border-radius: 2px;
	border: none;
	color: #222;
	align-self: unset;
}

@media (min-width: 600px) {
	.modal-newsletter .grid {
		grid-template-columns: 3fr 1fr;
	}
}
