/**
 * Paywall card
 */

.dsp .paywall-overlay {
    transition: all 1s;
    position: absolute;
    z-index: 9999;
    top: 90%;
    background: #f4f4f4;
    height: 70%;
    width: 100%;
    overflow: scroll;
    padding-bottom: 50px;
    box-shadow: 0px -1px 2px rgba(0,0,0,.2),
                0px -1px 5px rgba(0,0,0,.12),
                0px -5px 60px 80px rgba(255,255,255,1);
}


.dsp .paywall .package.small {
    padding: 15px;
}

.dsp .paywall .expander {
    color: #31409f;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.dsp .paywall .expander:after {
    color: #31409f;
}

@media (min-width: 900px) {  
  
.dsp .paywall .grid {
     grid-gap: 30px;
 }
    
.dsp .paywall section {
    max-width: 900px;
}    
 
    
} 

