.section-nav {
  padding: 0;
  max-width: 1170px;
  --lc: #707070;
}

.section-nav .title {
  margin: 0;
  padding: 0 15px;
}

.section-nav .title:after {
  position: relative;
  top: 3px;
}

.section-nav .expander.open + .icons {
  display: flex;
  flex-wrap: wrap;
}

.section-nav .icons {
  --lc: #707070;
  --lhc: #222;
}

.section-nav .icons > * {
  padding-bottom: 0;
}

@media(max-width: 600px) {
  .section-nav .title {
    font-size: x-large;
    text-align: center;
  }

  .section-nav .expander {
    justify-content: center;
  }

  .section-nav .icons {
    flex-direction: column;
    align-items: center;
  }
}
