/**
 * Series nav
 */

.series-nav {
	--hf: var(--serif);
	--hw: 400;
	--ht: none;
  --lc: #222;
  --lhc: #222;
}

.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: #dfdfdf;
}

.series-nav .summary {
  color: #707070;
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

/** Unnecessary in 1.12 */
.series-nav .article img {
  padding: 0;
}

.series-nav .article h4 {
  flex: 1;
  padding: 0 15px;
  margin: 0;
  max-width: 375px;
}
