/*****
** Subscription offers
****/

.dsp .subscription-offers section {
    padding: 7.5px 0;
}

.dsp .subscription-offers .title {
    padding: 15px 0 7.5px;
}

.dsp .subscription-offers .primary-offer {
   background: linear-gradient(90deg, rgba(55,55,55,.7), rgba(55,55,55,.99) 50%,rgba(55,55,55,.7) 100%), url(https://media.mcclatchy.com/creatives/subscription-offer-page-images/markets/Miami/1.jpg);
   background-size: cover;
   background-position: center;
}

.dsp .subscription-offers #impact2020 {
   background: linear-gradient(90deg, rgba(255,255,255,.7), rgba(255,255,255,.95) 50%,rgba(255,255,255,.7) 100%),url(    https://media.mcclatchy.com/creatives/subscription-offer-page-images/politics/dome.jpg);background-size: cover;background-position: center;
       
}

.dsp .subscription-offers .expander { 
    color: #31409f;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.dsp .subscription-offers .extras {
    padding: 50px 0;
    max-width: 400px;
}

.dsp .subscription-offers .extras > * {
    padding: 25px 15px;
}

.dsp .subscription-offers .extras h2 {
    margin-bottom: 20px;
}


@media (min-width: 900px) {  
    
.dsp .subscription-offers section {
    padding: 15px 15px;
}
    
.dsp .subscription-offers .primary-offer {
    padding: 80px 0;
}

.dsp .subscription-offers .title {
    padding: 30px 0 0;
}
    
.dsp .subscription-offers .expander {
    display: none;
}

.dsp .subscription-offers .offer-details {
    display: block;
}

    
} 

