/**
 * SWG Promo card
 */

.card.swg-promo .title {
	font: 600 48px var(--sans);
}

.card.swg-promo .summary {
  font-size: medium;
}

@media( min-width: 660px ) {
  .card.swg-promo {
    grid-template-columns: 2fr 1fr;
  }

  .card.swg-promo > :first-child {
    min-height: 200px;
  }
}
