/**
 * Timeline
 */

.timeline-event {
	border-left: 1px solid #707070;
	max-width: 500px;
  --hf: var(--sans);
  --hw: 600;
  --ht: uppercase;
}

.timeline-event:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	background-color: #707070;
	border: 4px solid white;
	border-radius: 50%;
	transform: translate(-9.5px, 12px);
}

