.upper-nav {
  display: flex;
  position: relative;
  z-index: 11;
  background-color: #f4f4f4;
}

.upper-nav .tab {
  padding: 10px 30px;
  box-sizing: border-box;
  max-width: 50vw;
}

.upper-nav .tab img {
  display: block;
  height: 15px;
  max-width: 100%;
}

.upper-nav .tab.active {
  background-color: white;
  border-right: 1px solid #ddd;
}

.upper-nav .tab.active:not(:first-child) {
  border-left: 1px solid #ddd;
}
