/**
 * Paper 
 */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.paper .paper, 
.paper .card, 
.card .paper, 
.card .card {
  box-shadow: none;
}

/**
 * Cards 
 */

.card {
  display: flex;
  flex-direction: column;
}

/* Horizontal option */

@media( min-width: 660px ) {
  .card.horizontal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
  }
}

.card.horizontal figure {
  position: relative;
  margin: 0;
}

.card.horizontal figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.card.horizontal .package {
  justify-content: center;
  box-sizing: border-box;
}

.card.horizontal .package time {
  flex: none;
}

/* Fill option */

.card.fill img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.card.fill .package {
  min-height: 315px;
  justify-content: flex-end;
}

.card.fill .package {
  background-image: linear-gradient(rgba(0,0,0,0.1) 50%, black 90%);
}

.card.fill time {
  flex: none;
}
