/**
 * Social media 
 */

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  padding: 10px 7.5px;
}

.social-media > a:first-child {
  padding-left: 0;
}

.social-media > a:last-child {
  padding-right: 0;
}

.social-media svg {
  height: 20px;
  width: 20px;
}
