
	/*----------RESET----------*/
    #body-cell,#body-table,body{height:100%!important;margin:0;padding:0;width:100%!important}table{border-collapse:collapse}img{display:block;border:0;outline:0;text-decoration:none;height:auto}a img{border:0;outline:0;text-decoration:none}.img-inline{display:inline}h1,h2,h3,h4,h5,h6{margin:0;padding:0;color:#222;line-height:100%}

	/*----------FONTS----------*/
    @font-face{font-family:'McClatchy Sans Web';font-style:normal;font-weight:400;src:url(https://media.mcclatchy.com/email-assets/global/fonts/mcclatchy-sans-web-regular.woff)}@font-face{font-family:'McClatchy Sans Web';src:url(https://media.mcclatchy.com/email-assets/global/fonts/mcclatchy-sans-web-demi.woff);font-weight:600;font-style:normal}@font-face{font-family:'McClatchy Serif Web';font-style:normal;font-weight:400;src:url(https://media.mcclatchy.com/email-assets/global/fonts/mcclatchy-serif-web-regular.woff)}@font-face{font-family:'McClatchy Serif Web';src:url(https://media.mcclatchy.com/email-assets/global/fonts/mcclatchy-serif-web-demi.woff);font-weight:600;font-style:normal}@font-face{font-family:'McClatchy Sans Cond Web';src:url(https://media.mcclatchy.com/email-assets/global/fonts/mcclatchy-sans-cond-web-demi.woff);font-weight:600;font-style:normal}	

/*----------DEFAULT STYLES----------*/
	.eds body, .eds #body-cell {background-color: #f4f4f4;}
	.eds #header {padding-bottom: 24px;}
	.eds .container {padding: 24px;}
	.eds .row-white {background-color: #fff;}
	.eds .row-blue {background-color: #31409f;}
	.eds .row-dark {background-color: #222;}
	.eds .row-gray {padding: 24px;}
    .eds a {font-weight: 600;color: #5169B8;}
	.eds h1 {font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;font-size: 36px;line-height: 48px;text-transform: none;}
	.eds .serif {font-family: 'McClatchy Serif Web', 'Times New Roman', serif;}
	.eds h2 {font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;font-size: 20px;line-height: 24px;letter-spacing: -0.5px;text-transform: uppercase;padding-bottom: 8px;}
	.eds h3 {font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;font-size: 16px;line-height: 24px;text-transform: uppercase;padding-bottom: 8px;}
	.eds h4 {font-family: 'McClatchy Serif Web',"Times New Roman", serif;font-weight: 600;font-size: 18px;line-height: 24px;}
	.eds .link {color: #4d63ab;text-decoration: none;border-bottom: 1px solid #4d63ab;}
	.eds .link-white {color: #fff;text-decoration: none;border-bottom: 1px solid #fff;}
	.eds .button {padding: 8px 16px;border-radius: 2px;}
	.eds .button-dark {background-color: #222;}
	.eds .button-white {background-color: #fff;}
	.eds .button-blue {background-color: #31409f;}
	.eds .button-link {display: block;font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;color: #fff;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: uppercase;text-decoration: none;}
	.eds .button-white-link {display: block;font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;color: #222;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: uppercase;text-decoration: none;}
	.eds .button-white-link-alt {display: block;font-family: 'McClatchy Sans Web', Tahoma, Arial, sans-serif;font-weight: 600;color: #31409f;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: uppercase;text-decoration: none;}


	/*----------EMAIL STYLES----------*/
    .eds .headshot {
        border-radius: 100%;
        object-fit: cover;
        width: 120px;
        height: 120px;
        border: 1px solid #222;
    }
	.eds .pub-icon {
		padding-right: 8px;
	}
	.eds .title {
		padding-left: 8px;
	}
	.eds .default-text {
		font-family: 'McClatchy Sans Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #222;
	}
	.eds .section-icon {
		padding-bottom: 24px;
	}
	.eds .small {
		font-family: 'McClatchy Sans Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #222;
	}
	.eds .col {
		padding-left: 12px;
		padding-right: 12px;
	}
	.eds .col-photo {
		padding-bottom: 8px;
	}
	.eds .headline-link {
		text-decoration: none;
	}
	.eds .badge {
		padding-left: 8px;
		padding-right: 8px;
	}
	.eds .icon-small {
		padding-bottom: 8px;
	}
	.eds .first {
		padding-left: 0;
	}
	.eds .last {
		padding-right: 0;
	}
	.eds .bold {font-weight: 600;}
	.eds .blue {color: #31409f;}

	/*----------MOBILE STYLES----------*/
	@media only screen and (max-width: 480px) /*you can change this value*/ {
		.eds #email-table {
			height: auto !important;
			max-width: 480px !important; /*you can change this value*/
			width: 100% !important;
		}
		.eds img {
			max-width: 100% !important;
		}
		.eds .collapse {
			display: block !important;
			width: 100% !important;
		}
		.eds .headshot {
			padding-bottom: 8px !important;
			text-align: center !important;
		}
		.eds .small {
			text-align: center !important;
		}
		.eds .col {
			padding-right: 0 !important;
			padding-left: 0 !important;
			padding-bottom: 24px !important;
		}
		.eds .last {
			padding-bottom: 0 !important;
		}
		.eds .col-photo {
			width: 100% !important;
		}
	}