/**
 * Display classes
 */

.d-tablet,
.d-desktop {
  display: none;
}

@media (min-width: 768px) {
  .h-tablet {
    display: none;
  }

  .d-tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .h-desktop {
    display: none;
  }

  .d-desktop {
    display: block;
  }
}
