/**
 * Purple Tuesdays
 */

@media (min-width: 690px) {
  .breaking-news-macro {
    margin: 0 15px;
  }
}

.header .blog-branding .teaser .title {
  font-size: x-large;
  font-weight: 400;
}

.lead-item .mi-sticky-player .mi-sticky-player-info {
  padding: 15px;
  --ht: none;
}

.mi-sticky-player-info > * {
  margin: 10px 0 0;
}

.mi-sticky-player-info > :first-child {
  margin-top: 0;
}

.grecaptcha-badge {
  display: none;
}

.story-body .ng_endnote_contact {
  margin: 15px auto;
}

/* section > section fix */

@media(min-width: 600px) {
  section#main-content {
    padding: 0 15px;
  }

  section#main-content > section {
    padding: 0;
  }
}

/* Top of section triple up on margin fix */
#nav-section-front, .subnav-section-name {
  margin-top: 0;
}
