/**
 * Purple Tuesdays
 */

@media (min-width: 690px) {
  .breaking-news-macro {
    margin: 0 15px;
  }
}

.header .blog-branding .teaser .title {
  font-size: x-large;
  font-weight: 400;
}

.lead-item .mi-sticky-player .mi-sticky-player-info {
  padding: 15px;
  --ht: none;
}

.mi-sticky-player-info > * {
  margin: 10px 0 0;
}

.mi-sticky-player-info > :first-child {
  margin-top: 0;
}

.inline-cta > div[class*=recaptcha] {
  margin: 10px 0 0;
}

.story-body .ng_endnote_contact {
  margin: 15px auto;
}
