.search-form {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 140px;
  grid-gap: 15px;
}

.search-form input,
.search-form button {
  font-size: medium;
}

.search-form .select {
  grid-column: span 2;
}

/* Different grids */

@media (min-width: 769px) {
  .search-form {
    grid-template-columns: 1fr 140px 200px;
  }

  .search-form .select {
    grid-column: auto;
  }
}

/* Results */

.load-more {
  text-align: center;
}
